todo.md

**/.DS_Store
.DS_Store
App/target/test-classes/com/.DS_Store
App/.DS_Store
App/src/.DS_Store
App/src/main/.DS_Store
App/src/main/java/.DS_Store
App/src/main/java/com/.DS_Store
App/src/main/java/com/mycompany/.DS_Store
App/src/main/java/com/mycompany/app/.DS_Store
App/src/main/resources/.DS_Store
App/src/main/resources/com/.DS_Store
App/src/main/resources/com/mycompany/.DS_Store
App/src/main/resources/com/mycompany/app/.DS_Store
App/src/test/.DS_Store
App/src/test/java/.DS_Store
App/src/test/java/com/.DS_Store
App/src/test/java/com/mycompany/.DS_Store
App/src/test/java/com/mycompany/app/.DS_Store
App/target/classes/.DS_Store
App/target/classes/com/.DS_Store
App/target/classes/com/mycompany/.DS_Store
App/target/classes/com/mycompany/app/.DS_Store
App/target/test-classes/.DS_Store
App/target/test-classes/com/.DS_Store
App/target/test-classes/com/mycompany/.DS_Store
App/target/test-classes/com/mycompany/app/.DS_Store

App/target/
*.class